$text-color-primary: #E5EAEF;
$text-color-secondary: #62605E;
$text-color-accent: #D19FAD;

$dark-color: #050505;
$dark-color-transparant: rgba(5,5,5,.2);
$dark-color-secondary: #999EA5;
$dark-color-secondary-transparent: rgba(153, 158, 165, .3);
$dark-color-accent: #62605E;
$light-color: #E5EAEF;
$light-color-secondary: #B9C3DC;
$light-color-accent: #B4BDD5;

$white: #ffffff;
$black: #111111;